<!DOCTYPE html>
<html>
<head>
    <title>ToDo List</title>
</head>
<body>
    <h1>ToDo List</h1>
    <form method="POST" action="{% url 'task-list' %}">
        {% csrf_token %}
        <ul>
            {% for task in tasks %}
                <li>
                    <label>
                        <input type="checkbox" name="task_ids" value="{{ task.id }}">
                        {{ task.title }} -
                        {% if task.completed %}
                            <span>completed</span>
                        {% else %}
                            <span>uncompleted</span>
                        {% endif %}
                    </label>
                    <!-- 개별 Update/Delete 링크 추가 -->
                    <a href="{% url 'update-task' task.id %}">Update</a>
                    <a href="{% url 'delete-task' task.id %}">Delete</a>
                </li>
            {% endfor %}
        </ul>
        <button type="submit" formaction="{% url 'update-tasks' %}">Update Selected</button>
        <button type="submit" formaction="{% url 'delete-tasks' %}">Delete Selected</button>
    </form>
    <a href="{% url 'create-task' %}">Create New Task</a>
</body>
</html>
